@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';

@theme {
  --font-*: initial;
  --font-sans: 'Roboto Mono';

  --color-sl-primary: #df7c00;
  --color-sl-primary_h: #ff8d00;
  --color-sl-surface: #121212;
  --color-sl-disabled: #7b7b7b;
  --color-sl-on_surface_1: #e0e0e0;
  --color-sl-on_surface_2: #a0a0a0;
  --color-sl-01dpa: rgba(255, 255, 255, 0.05);
  --color-sl-02dpa: rgba(255, 255, 255, 0.07);
  --color-sl-03dpa: rgba(255, 255, 255, 0.08);
  --color-sl-04dpa: rgba(255, 255, 255, 0.09);
  --color-sl-06dpa: rgba(255, 255, 255, 0.11);
  --color-sl-08dpa: rgba(255, 255, 255, 0.12);
  --color-sl-12dpa: rgba(255, 255, 255, 0.14);
  --color-sl-16dpa: rgba(255, 255, 255, 0.15);
  --color-sl-24dpa: rgba(255, 255, 255, 0.16);
  --color-sl-01dp: #1e1e1e;
  --color-sl-02dp: #232323;
  --color-sl-03dp: #252525;
  --color-sl-04dp: #272727;
  --color-sl-06dp: #2c2c2c;
  --color-sl-08dp: #2f2f2f;
  --color-sl-12dp: #333;
  --color-sl-16dp: #353535;
  --color-sl-24dp: #383838;
  --color-sl-pink: #f9114f;
  --color-sl-red: #ff3918;
  --color-sl-yellow: #ffe61e;
  --color-sl-blue: #02f5ea;
  --color-sl-darkblue: #02b7ff;
  --color-sl-green: #8ce568;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* paint background of level meter */
.levels {
  height: 100%;
  width: 30px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  padding: 2px 0px;
  margin: auto;
}

/* paint not glowing LEDs */
.level {
  position: relative;
  margin: 0 1px;
  flex-grow: 1;
  z-index: 3;
  background-color: transparent;
  background-repeat: repeat-y;
  background-image: linear-gradient(to bottom, #202020 3px, transparent 1px);
  background-size: 100% 4px;
}

/* paint glowing LEDs */
.level:before {
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top, green 0%, yellow 80%, red 100%);
  background-size: 100% 100%;
  clip-path: inset(var(--my-level)); /* switch off leds */
  -webkit-clip-path: inset(var(--my-level)); /* Safari */
}

/* paint gap lines of LEDs */
.level::after {
  width: 100%;
  height: 100%;
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  margin-top: 3px;
  background-image: linear-gradient(
    to bottom,
    #333 1px /* space between leds*/,
    transparent 1px
  );
  background-repeat: repeat-y;
  background-size: 100% 4px; /* 4px LED height */
  background-color: transparent;
}
