build-*
/build
/app/linux/studiolink
/test/sltest
.vscode
compile_commands.json
.cache
cache

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.h.gch

.gdb_history

/webui_old

/re
/rem
/baresip

/external
/third_party

node_modules
.temp
.cache
