/build*
/src/build*
.vscode
compile_commands.json
.cache

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

/webui_old

/re
/rem
/baresip

/third_party
